<%#= stylesheet_link_tag "modern.css" %>
<%#= javascript_include_tag "carousel.js" %>

<h1>Welcome!</h1><br>

<% if current_user %>

  <div class="carousel" data-role="carousel" data-param-period="4000">
    <div class="slides">
      <% @photos.each do |photo| %>
        <div class="slide image">
            <%= image_tag show_file_photo_path(photo) %>
            <div class="description">
                <%= photo.caption %>
            </div>
        </div>
      <% end %>
    </div>

    <span class="control left">‹</span>
    <span class="control right">›</span>
  </div>

<% else %>
  <h2 class="front-page-text">
    Have you ever taken the perfect picture, but not been able to come up
    with a great caption for it? If so, then this site is for you! Our
    highly advanced randomizing technology will help you find the perfect
    caption for your picture. Sign up today!
  </h2>
<% end %>
