<%#= stylesheet_link_tag "modern.css" %>
<%#= javascript_include_tag "carousel.js" %>

<h1>Welcome!</h1>

<% if current_user %>

  <div class="carousel" data-role="carousel">
    <div class="slides">
        <div class="slide image" id="slide1">
            <%= image_tag "kitten.jpg" %>
            <div class="description">
                <%= @photos[0].caption %>
            </div>
        </div>

        <div class="slide mixed" id="slide2">
            <%= image_tag "headshot.jpg" %>
            <div class="description">
                <%= @photos[1].caption %>
            </div>
        </div>
    </div>

    <span class="control left">‹</span>
    <span class="control right">›</span>
  </div>

<% else %>
  <h2 class="front-page-text">
    Have you ever taken the perfect picture, but not been able to come up
    with a great caption for it? If so, then this site is for you! Our
    highly advanced randomizing technology will help you find the perfect
    caption for your picture. Sign up today!
  </h2>
<% end %>
