<div id="profile-header">
  <h1><%= @user.name %>'s photos!</h1>
</div>

<hr>

<% @photos.each do |photo| %>
  <div class="captioned-photo" data-photo-id="<%=photo.id%>">
    <%= image_tag show_file_photo_url(photo) %>
    <div class="photo-caption">
      <p><%= photo.caption %></p>
    </div>
    <p>EDIT</p>
  </div>
  <%#= render :partial => 'photos/file', collection: @photos %>
<% end %>

<!-- Makes photos clickable -->
<script type="text/javascript">

	$(function() {
		$('.captioned-photo').click(function() {
			var photo_id = $(this).data('photo-id');
      window.location = '/photos/' + photo_id;
		});
  });

</script>