<div id="profile-header">
  <h1><%= @user.name %>'s photos!</h1>
</div>

<hr>

<% unless @photos.empty? %>
  <%= render :partial => 'photos/file', collection: @photos %>
<% end %>

<!-- Makes photos clickable -->
<script type="text/javascript">

	$(function() {
		$('.captioned-photo').click(function() {
			var photo_id = $(this).data('photo-id');
      window.location = '/photos/' + photo_id;
		});

    $('.captioned-photo').mouseover(function() {
      console.log("mouse over");
    });
  });

</script>