<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h2><%= @sender_name %> thinks this photo will make you laugh.</h2>
    <p>Check it out <%= link_to("here", @photo_url ) %> :)</p>
  </body>
</html>