<h1>Upload a photo, add a caption, and instantly share friends!</h1>

<div class="upload-photo-form">

  <p>max photo size 1MB</p>

  <%= simple_form_for(@photo) do |f| %>

    <div class="file-field">
    	<%= f.file_field :file %>
    </div>

  	<%= f.input :user_id, as: :hidden, :input_html => { :value => current_user.id } %>

    <div class="form-actions">
      <%= f.button :submit, "Upload!" %>
    </div>

  <% end %>
</div>