/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image: url("background-texture.png");
	font-family: 'Happy Monkey';
	margin-bottom: 30px;
}

/*BODY-WRAP*/

.body-wrap {
	width: 850px;
	margin: auto;
}

/*NAVBAR*/

.navbar {
	height: 60px;
}

.navbar-buttons a {
	text-decoration: none;
	font-size: 18px;
	color: #232B2B;
	background-color: #DC3D24;
	padding: 10px;
	margin: 0px 5px 0px 5px;
	border-radius: 5px;
}

.navbar-buttons a:hover {
	text-decoration: none;
	font-size: 18px;
	color: #232B2B;
	background-color: #e36754;
	padding: 10px;
	margin: 0px 5px 0px 5px;
	border-radius: 5px;
}

.navbar-buttons a:active {
	text-decoration: none;
	font-size: 18px;
	color: #232B2B;
	background-color: #e36754;
	padding: 10px;
	margin: 0px 5px 0px 5px;
	border-radius: 5px;
	box-shadow: inset 0px 2px 2px #DC3D24;
}

.navbar-buttons li {
	float: left;
	list-style-type: none;
}

.navbar-buttons {
	margin-top: 18px;
	float: right;
	margin-right: 10px;
}

h1 {
	text-align: center;
	font-size: 60px;
	color: #E3AE57;
}

/*PROFILE*/

.captioned-photo {
	width: 700px;
	margin: auto;
	margin-bottom: 20px;
}

.captioned-photo img {
	cursor: hand;
	cursor: pointer;
	max-width: 700px;
	display: block;
	margin: auto;
}

.captioned-photo img:hover {
	cursor: hand;
	cursor: pointer;
	max-width: 700px;
	max-height: 700px;
	opacity: .5;
}

.captioned-photo .photo-caption p {
	width: 700px;
	height: 70px;
	color: #FFFFFF;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-align: center;
	text-shadow: 3px 3px 2px black;
}

hr {
	width: 100%;
	height: 4px;
	background-color: #000000;
	border: 0px;
}

/*SHOW PHOTO*/

.photo-to-edit img {
	max-width: 700px;
	max-height: 700px;
	display: block;
	margin: auto;
}

.photo-caption p {
	padding: 20px;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
	text-shadow: 3px 3px 2px black;
}

.caption-share-buttons {
	width: 450px;
	margin: auto;
}

.share-button {
	position: relative;
	cursor: hand;
	cursor: pointer;
	width: 150px;
	height: 60px;
	border-radius: 5px;
	background-color: #DC3D24;
	margin-right: 20px;
	float: right;
	margin: 0 22px 0 22px;
}

.share-button:hover {
	position: relative;
	cursor: hand;
	cursor: pointer;
	width: 150px;
	height: 60px;
	border-radius: 5px;
	background-color: #e36754;
	margin-right: 20px;
	float: right;
	margin: 0 22px 0 22px;
}

.share-button a {
	top: 30%;
	left: 30%;
	position: absolute;
	text-decoration: none;
	font-size: 18px;
	color: #232B2B;
}

.random-caption-button {
	cursor: hand;
	cursor: pointer;
	font-family: 'Happy Monkey';
	font-size: 18px;
	border-radius: 5px;
	width: 150px;
	height: 60px;
	background-color: #DC3D24;
	color: #232B2B;
	border: 0px;
}

.random-caption-button:hover {
	cursor: hand;
	cursor: pointer;
	font-family: 'Happy Monkey';
	font-size: 18px;
	border-radius: 5px;
	width: 150px;
	height: 60px;
	background-color: #e36754;
	color: #232B2B;
	border: 0px;
}

.delete-button {
	float: right;
	height: 60px;
	width: 60px;
	background-color: #DC3D24;
	border: 0px;
	border-radius: 5px;
	margin-left: 20px;
}

.delete-button:hover {
	float: right;
	height: 60px;
	width: 60px;
	background-color: #e36754;
	border: 0px;
	border-radius: 5px;
	margin-left: 20px;
}

.delete-button img {
	margin: 10px 0 0 10px;
}

/*EDIT USER*/

.edit-user-wrapper {
	width: 350px;
	margin: auto;
	font-family: 'Happy Monkey';

}

.edit-user-wrapper h2 {
	color: #E3AE57;
	text-align: center;
	font-size: 50px;
}

.edit-user-wrapper .form-inputs label {
	color: #E3AE57;
	font-size: 18px;
	padding: 4px;
}

.form-actions .button {
	font-size: 18px;
	height: 30px;
	border-radius: 5px;
	width: 100px;
	background-color: #DC3D24;
	color: #232B2B;
	display: block;
	margin: auto;
	border: none;
}

.form-actions {
	padding: 10px;
}
















